*.pyc
*.class
build
misc/*
debian/*
.project
.pydevproject
dist
MANIFEST
dreampie-*-setup.exe
gtk-runtime
pygtk-2.5
pygtk-2.6
dreampie-*-setup.exe.asc
.settings
share/dreampie/subp-py2
share/dreampie/subp-py3
windist
